<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJQVMKocDQ95Dksbe_GYYqyQdEhBZwmQY</string>
	<key>GCM_SENDER_ID</key>
	<string>646803925681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.habitBuilder.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>united-hacks-hackathon</string>
	<key>STORAGE_BUCKET</key>
	<string>united-hacks-hackathon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646803925681:ios:9d37460e2c1ec59816d090</string>
</dict>
</plist>